:root {
  --light-green: #6e786e;
  --vlight-green:rgb(184, 189, 184);
  --dark-green: #2c362f;
  --dark-blue: #0d3f5c;
  --light-blue: #b8ceda;
  --med-blue: #265c7b ;
  --mlight-blue: #7099af;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.footerLink {
  text-decoration: none;
  padding: 10px;
  color: var(--light-green);
  
}

.footerLink:hover{
  color: var(--dark-green);
}

.footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: var(--light-blue);
  padding: 20px;
  /* margin-top:auto;
  height: -50px; */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.resumeLink{
  text-decoration: none;
  color: var(--vlight-green);
  padding: 2px;
}

.resumeLink:hover {
  color: var(--light-green);
}

.nav-link {
  text-decoration: none;
  padding: 50px;
  list-style-type: none;
  justify-content: space-evenly;
  color: var(--light-green);
}

.nav-link:hover {
  color: var(--dark-green);
}

.active {
  color: var(--dark-green);
}

.navbarUl {
  
}
  
.nav {
  display: flex;
  justify-content: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.contactContainer{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin-top: -50px;
}

.contactForm{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  padding: 20px;
  display: grid;
  place-items: center;
 
}

.copyright {
  font-size: 13px;
  color: var(--dark-green);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.headerTitle {
  color: var(--dark-blue);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  word-spacing: 5px;
  letter-spacing: 2.5px;
  text-align: center;
  font-size: 35px;
}

.contactTitle {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight:lighter;
  text-align: center;
  padding: 0px;
  letter-spacing: 2px;
  color: var(--dark-blue);
  font-size: 28px;
  margin-top: 150px;
}

.formText{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 17px;
  letter-spacing: 3px;
  font-weight:bold;
  padding: 5px;
  color: var(--dark-green);
  text-align: center;
}

.form-input {
  padding: 10px;
  margin: 15px;
  flex-direction: column;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 5px;
  display: block;
  width: 200px;
}

.form-input-message {
  padding: 30px;
  width: 250px;
  margin: 10px;
  display: inline-block;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 5px;
}

.formBtn {
  padding: 10px;
  width: 90px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 5px;
  background-color: var(--dark-blue);
  cursor: pointer;
  margin: 25px;
  color: white;
}

.formBtn:hover {
  background-color: var(--med-blue);
}

.resumeLinkText{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--dark-green);
  font-size: 20px;
  padding: 30px;
}


.resume {
  text-align: center;
  margin-top: 90px;
}

.listTitle {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 23px;
  color: var(--dark-blue);
  text-align: center;
  margin-top: 50px;
  letter-spacing: 1px;
  padding: 10px;
  margin-top: 100px;
}

.skillsList {
  text-align: center;
  list-style-type: none;
  display: inline;
  position: relative;
  
}

.SL-item {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  color: var(--dark-green);
  margin-top: 10px;
  padding: 5px;
  color: var(--light-green)
}

.projectImg{
  width: 400px;
  height: 300px;
  margin: 10px;
  border: 1px solid var(--dark-blue);
  border-radius: 4px;
}

.projectFigure {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
  margin-top: 100px;
  margin-left: 80px;
  margin-bottom: 120px;
  padding: 10px;
  border-radius: 4px;
  width: 400px;
  height: 400px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: var(--dark-blue);
  font-size: 25px;
  letter-spacing: 2px;
  float: left;
}

.projectLink {
  text-decoration: none;
  color: var(--dark-blue);
  font-size: 18px;
  padding: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}

.projectLink:hover {
  color: var(--mlight-blue);
}

.projectsTitle{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: var(--light-green);
  text-align: center;
  margin: 20px;
  letter-spacing: 1px;
  padding: 20px;
}

.aboutMeTitle {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: var(--dark-blue);
  text-align: center;
  margin: 20px;
  letter-spacing: 1px;
  padding: 20px;
}

.aboutMeText {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  /* margin-top: 10px;
  margin-left: 20%; */
  padding: 20px;
  color: var(--light-green);
  width: 250px;
  border: 1px solid var(--dark-blue);
  border-radius: 4px;
  text-align:center;
  height: 300px;
  margin-left: 80px;
}

.aboutMeText2 {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 30px;
  /* margin-top: 10px;
  margin-right: 10%; */
  padding: 20px;
  color: var(--light-green);
  width: 310px;
  border: 1px solid var(--dark-blue);
  border-radius: 40px;
  text-align:center;
  height: 250px;
}

.profilePic {
  width: 450px;
  height: 550px;
  border-radius: 50%;
  border: 1px solid var(--dark-blue);
  /* margin-right: 10%; */
  margin-top: -120px;
}

.aboutContainer {
  /* display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin-top: 100px; */
  display: flex;
  justify-content: space-around;
  margin-left: 90px;
}